body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding-top: 60px; /* Adjust according to navbar height */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Adjusted padding */
    align-items: center;
    background-color: #fff; /* Light background for the navbar */
    color: #333; /* Darker text for contrast */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: fixed; /* Fixed at the top */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure navbar is above other content */
}

/* Body padding to prevent overlap with fixed navbar */
body {
    padding-top: 200px; /* Adjust this value based on your navbar's height */
}

  
  /* Adjustments for logo and brand for better alignment */
.logo, .navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-brand img, .logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}
  
.navbar-brand span, .logo span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}
  
 /* Navbar link styles for better visibility and interaction */
.navbar a {
    color: #0a0a0a;
    text-decoration: none;
    padding: 5px 15px;
    transition: color 0.3s ease;
}
  
  .navbar a:hover, .navbar a:focus {
    color: red;
  }
  
  /* Navbar Navigation */
  .navbar-menu-wrapper, .navbar-nav, .navbar-nav-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu-wrapper {
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .navbar-nav-right {
    margin-left: auto;
  }
  
  /* Dropdown Menu */
  .nav-item.dropdown:hover .navbar-dropdown {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
  
  .navbar-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    flex-direction: column;

  }
  
  .navbar-dropdown a {
    color: #000000;
    margin-bottom: 5px;
  }
  
  /* Profile Image and Text */
  .nav-profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .nav-profile-text p {
    color: black;
    font-size: 20px;
    margin-right: 10px;
  }

  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
      border: none;
      background-color: transparent;
    }
  
    .navbar-menu-wrapper, .navbar-nav, .navbar-nav-right, .navbar {
      flex-direction: column;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  
    .navbar-dropdown {
      position: static;
    }
  }
  
  /* Additional Styles */
  .img-avatar {
    border-radius: 50%;
    object-fit: cover;
  }
  
  
/* Cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute cards evenly with space */
    margin: 0 auto; /* Center the container horizontally */
    width: 80%; /* Adjust width as needed */
  }
  
.card {
    width: 33.3%; /* Adjust width for desired number of cards per row */
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #fff; /* Set a base background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .bg-gradient-info {
    background-color: #6f42c1!important;
  }
  
  .bg-gradient-danger {
    background-color: #dc3545!important;
  }
  
  .bg-gradient-warning {
    background-color: #fc9707!important;
  }
  
  .bg-gradient-success {
    background-color: #28a745!important;
  }
  
  .bg-gradient-primary {
    background-color: #007bff!important;
  }
  
  .text-white {
    color: #fff!important;
  }
  
  /* Main content area */
  
  .main-panel {
    padding: 1rem;
  }
  
  /* Charts and tables */
  
  #piechart {
    margin-top: 2rem; /* Added margin for better spacing */
  }
  

/* Styles for the main panel */
.main-panel {
    background-color: #f8f9fa;
    padding: 20px;
}

/* Modal Header Styles */
.modal-header {
    color: #160404;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.modal-title {
    float: left;
    font-size: 1.5rem;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

/* Table Styles */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 123, 255, 0.1);
}


th {
    background-color: #f0f0f0;
    font-weight: bold;
}

td, th {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #dee2e6;
}

/* First row of the table */
th:first-child, td:first-child {
    border-left: none;
}

/* Last row of the table */
th:last-child, td:last-child {
    border-right: none;
}

/* Zebra striping for rows */
tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Font styles for table content */
.font-w600 {
    font-weight: 600;
}



/* Action Buttons Container */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add space between buttons */
}

/* General Button Styling */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

/* Button Hover Effect */
.btn:hover {
  transform: scale(1.1);
}

/* Edit Button */
.btn-info {
  background-color: #17a2b8;
  border: none;
}

.btn-info:hover {
  background-color: #138496;
}

/* View Button */
.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Delete Button */
.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Custom styling for the Cancel button */
.btn-custom-cancel {
  background-color: #020118; /* Gray background */
  color: white;             /* White text */
  border: 1px solid #6c757d;/* Gray border */
  padding: 10px 20px;       /* Padding */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;          /* Pointer cursor on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
}

.btn-custom-cancel:hover {
  background-color: #5a6268; /* Darker gray background on hover */
  border-color: #545b62;     /* Darker gray border on hover */
}


/* Icon Styling */
.btn i {
  margin: 5px; /* Ensure no extra margin inside buttons */
}

/* Tooltip Styling */
[data-toggle="tooltip"] {
  position: relative;
  cursor: pointer;
}

[data-toggle="tooltip"]:hover::after {
  content: attr(data-original-title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}

.btn-primary {background-color: #007bff; border-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px;transition: background-color 0.3s, border-color 0.3s;} 
.btn-xs {font-size: 0.8em; padding: 5px 10px;}

/* Modal Styling */
.modal-header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-100px);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

/* Table Styling */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

/* Button Styling */
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-xs {
  font-size: 0.8em;
  padding: 5px 10px;
}

/* Form and Control Styling */
.forms-sample {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  width: 80%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

/* Custom styling for the Cancel button */
.btn-custom-cancel {
  background-color: #6c757d; /* Gray background */
  color: white;             /* White text */
  border: 1px solid #6c757d;/* Gray border */
  padding: 10px 20px;       /* Padding */
  border-radius: 5px;       /* Rounded corners */
  cursor: pointer;          /* Pointer cursor on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transitions */
}

.btn-custom-cancel:hover {
  background-color: #5a6268; /* Darker gray background on hover */
  border-color: #545b62;     /* Darker gray border on hover */
}




.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-image {
  flex: 1 1 300px;
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.about-text {
  flex: 1 1 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mission-vision-values, .history {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mission-vision-values:hover, .history:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mission-vision-values h2, .history h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
}

.mission-vision-values div, .history p {
  margin: 20px 0;
  font-size: 1.1em;
  color: #666;
}

.mission-vision-values ul {
  list-style-type: disc;
  padding-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 20px;
}

.grid-container .mission-vision-values, .grid-container .history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.grid-container .mission-vision-values:nth-child(1) {
  background-color: #e3f2fd;
}

.grid-container .mission-vision-values:nth-child(2) {
  background-color: #e8f5e9;
}

.grid-container .mission-vision-values:nth-child(3) {
  background-color: #fff3e0;
}

.grid-container .mission-vision-values:nth-child(4) {
  background-color: #fce4ec;
}

.grid-container .history:nth-child(1) {
  background-color: #f3e5f5;
}

.grid-container .history:nth-child(2) {
  background-color: #e0f7fa;
}

.grid-container .history:nth-child(3) {
  background-color: #ffebee;
}

.grid-container .history:nth-child(4) {
  background-color: #f1f8e9;
}

.grid-container .mission-vision-values h3, .grid-container .history h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #444;
}


/* Responsive Design */
@media (max-width: 768px) {
  .about-section {
      flex-direction: column;
  }

  .about-image {
      max-width: 60%;
  }
}



.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px; /* Adjust the width as needed */
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-member div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.team-member p {
  margin: 5px 0 0;
  font-size: 1.1em;
  color: #666;
}


